html, body {
  margin: 0;
  font-family: $font-body;
  line-height: 1.5;
}

body {
  font-size: .8em;
  color: $color-lightest;
  background-color: $color-dark;

  @media (min-width: $mq-xxsmall) {
    font-size: .9em;
  }
  @media (min-width: $mq-xsmall) {
    font-size: 1em;
  }
  @media (min-width: $mq-large) {
    font-size: 1.1em;
  }
  @media (min-width: $mq-xlarge) {
    font-size: 1.25em;
  }
  @media (min-width: $mq-xxlarge) {
    font-size: 1.5em;
  }
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
  text-align: center;
  background-size: cover;
}

h1 {
  margin: 0 auto;
  font-family: $font-heading;
  font-size: 5em;
  line-height: .8;
  color: $color-light;
  text-shadow: 0 0 .5em $color-darkest;

  span {
    display: block;
    font-size: .64em;
    font-weight: 400;
  }
}
