body.home {
  background-image: url('../images/background.jpg');
}

.home__wrapper {
  margin: 1em;
  flex-basis: 45em;
  padding: 5em 1em;
  border: 2px solid $color-lightest;
}

.home__heading {
  margin-bottom: 2rem;

  span {
    color: $color-lightest;
  }
}

.submit {
  position: relative;
  display: inline-block;
  max-width: 12em;
  width: 100%;
  margin-top: 1rem;
  padding: .3em 1em;
  font-family: $font-body;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  color: $color-lightest;
  background-color: $color-accent;
  border: 2px solid $color-accent;
  cursor: pointer;
  transition: background-color .3s ease-out;

  @media (min-width: $mq-xsmall) {
    font-size: 2.5em;
  }

  .fa {
    position: absolute;
    right: .6em;
    top: 50%;
    transform: translateY(-50%);
    transition: color .3s ease-out;
  }

  &:hover,
  &:focus {
    background-color: transparent;
    outline: none;

    .fa {
      color: $color-accent;
    }
  }
}
